.sector-cards .sector-card-bottom ul, footer .footer-inner .footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F3F6FB;
  color: #14161C;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  height: auto;
  max-width: 100%;
}

.content-section {
  padding: 35px 0;
}

/* Typography */
a {
  text-decoration: none;
}

.styled-heading::before {
  background-color: #FF3514;
  content: "";
  display: inline-block;
  font-weight: 500;
  height: 15px;
  margin-right: 10px;
  width: 3px;
}

.styled-heading-large {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  margin-bottom: 35px;
}

.styled-heading-small {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 21px;
  margin-bottom: 20px;
}

.oc-heading-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.oc-heading-group h4 {
  margin-bottom: 8px;
}

.stat-title-small {
  color: #6A6971;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
}

.stat-large {
  display: block;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
}

/* Colours */
.success {
  color: #299F00;
}

.danger {
  color: #CF0303;
}

/* Cards */
.oc-card {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  height: 100%;
  padding: 20px;
}

.oc-card.no-padding {
  padding: 0;
}

.oc-card-small-heading {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 21px;
}

.oc-card-small-link {
  color: #FF3514;
  font-weight: 600;
  text-decoration: underline;
}

.oc-card-small-link:hover {
  color: #FF3514;
}

.oc-card-stat span.stat-title-small {
  color: #6A6971;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
}

.oc-card-stat span.stat-title-small .tooltip-icon {
  color: #FF3514;
  cursor: pointer;
  margin-left: 5px;
}

.oc-card-stat span.stat-large {
  display: block;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
}

.oc-card-sectors {
  display: -ms-grid;
  display: grid;
  gap: 20px 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.oc-card-sectors .oc-card-sector {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 20px;
}

.oc-card-sectors .oc-card-sector-icon {
  margin-right: 10px;
}

.oc-card-sectors .oc-card-sector-txt h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  margin-bottom: 1px;
}

.oc-card-sectors .oc-card-sector-txt h6 a {
  color: #14161C;
}

.oc-card-sectors .oc-card-sector-txt span {
  color: #6A6971;
}

.oc-card-grid {
  display: -ms-grid;
  display: grid;
  gap: 10px 10px;
  height: 100%;
}

.oc-card-grid.grid-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.oc-card-grid.grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.oc-card-grid-item {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  text-align: center;
}

@media (max-width: 1023.98px) {
  .oc-card {
    height: auto;
    margin-bottom: 20px;
  }
  .oc-card-sectors {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .oc-card-grid {
    height: auto;
    margin-bottom: 20px;
  }
  .oc-card-grid.grid-sm-1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.oc-map-card {
  min-height: 300px;
  overflow: hidden;
  position: relative;
}

.oc-map-card .oc-map-small iframe {
  border: 1px solid #6A6971;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.oc-card-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.oc-card-empty p {
  color: #E5E5E5;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
}

.oc-split-card {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  height: 100%;
}

.oc-split-card-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.oc-split-card-item:last-of-type {
  border-bottom: none;
}

.oc-split-card-item .split-card-icon {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 46px;
}

.sector-cards {
  display: -ms-grid;
  display: grid;
  gap: 20px 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.sector-cards .sector-card {
  background-color: #fff;
  border: 1px solid #CFCFCF;
}

.sector-cards .sector-card-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #CFCFCF;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-cards .sector-card-top-icon {
  margin-right: 15px;
}

.sector-cards .sector-card-top-info h6 {
  margin-bottom: 3px;
}

.sector-cards .sector-card-top-info h6 a {
  color: #FF3514;
}

.sector-cards .sector-card-top-info h6 a:hover {
  text-decoration: underline;
}

.sector-cards .sector-card-top-info p {
  margin-bottom: 0;
}

.sector-cards .sector-card-bottom {
  padding: 15px 20px;
}

.sector-cards .sector-card-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-cards .sector-card-bottom ul li {
  margin-right: 20px;
}

.sector-cards .sector-card-bottom ul li span {
  font-weight: 600;
}

@media (max-width: 1023.98px) {
  .sector-cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .sector-cards .sector-card-bottom ul {
    display: block;
  }
}

/* Header */
.header-desktop {
  background-color: #fff;
  border-bottom: 1px solid #E5E5E5;
}

@media (min-width: 1024px) {
  .header-mobile {
    display: none;
  }
}

.top-bar {
  border-bottom: 1px solid #E5E5E5;
  padding: 15px 0;
}

.top-bar-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-bar-inner .top-bar-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar-inner .top-bar-left .site-logo {
  margin-right: 30px;
  max-width: 120px;
}

.top-bar-inner .top-bar-left .top-bar-search .form-control {
  border: 1px solid #6A6971;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #14161C;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 19px;
}

.top-bar-inner .top-bar-left .top-bar-search .form-control:hover, .top-bar-inner .top-bar-left .top-bar-search .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.top-bar-inner .top-bar-right .navbar-nav .nav-item.dropdown .avatar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2A93B;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
}

.top-bar-inner .top-bar-right .navbar-nav .nav-item.dropdown .dropdown-menu {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
}

@media (max-width: 1023.98px) {
  .top-bar-inner .top-bar-search {
    display: none;
  }
}

.main-nav {
  padding: 15px 0;
}

.main-nav .navbar-toggler {
  background-color: #fff;
  border: none;
  border-radius: 0;
  color: #14161C;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  padding: 12px 0;
  width: 100%;
}

.main-nav .navbar-toggler .svg-inline--fa, .main-nav .navbar-toggler .mobile-menu-icon {
  margin-right: 5px;
}

.main-nav .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-nav .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-nav .navbar-nav .nav-item .nav-link {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  color: #14161C;
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.main-nav .navbar-nav .nav-item .nav-link .menu-icon, .main-nav .navbar-nav .nav-item .nav-link .svg-inline--fa {
  margin-right: 8px;
}

.main-nav .navbar-nav .nav-item .nav-link:hover {
  background-color: #E5E5E5;
}

.main-nav .navbar-nav .nav-item .nav-link:hover .menu-icon {
  color: #FF3514;
}

.main-nav .navbar-nav .nav-item .nav-link.active {
  background-color: #06163A;
  border-color: #06163A;
  color: #fff;
}

.main-nav .navbar-nav .nav-item .nav-link.active .menu-icon {
  color: #FF3514;
}

@media (max-width: 1023.98px) {
  .main-nav {
    padding: 0;
  }
  .main-nav .navbar-collapse {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 100%;
  }
}

.navbar-brand img {
  max-width: 120px;
}

/* Footer */
footer {
  background-color: #fff;
  color: #6A6971;
  border-top: 1px solid #E5E5E5;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 19px;
  margin-top: 35px;
  padding: 20px;
}

footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-inner .colophon p {
  margin-bottom: 0;
}

footer .footer-inner .colophon p a {
  color: #6A6971;
  text-decoration: underline;
}

footer .footer-inner .colophon p a .svg-inline--fa {
  margin-left: 5px;
}

footer .footer-inner .footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-inner .footer-links ul li a {
  color: #6A6971;
  display: block;
}

footer .footer-inner .footer-links ul li a::after {
  content: "|";
  padding: 10px;
}

footer .footer-inner .footer-links ul li:last-child a::after {
  display: none;
}

@media (max-width: 1023.98px) {
  footer .footer-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-inner .colophon {
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=base.css.map */