@charset "UTF-8";
.sector-cards .sector-card-bottom ul, .project-cards .project-card-main ul, .project-cards .project-card-bottom ul, .breadcrumbs ul, footer .footer-inner .footer-links ul, .oc-sidebar-top .sidebar-nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.data-table, .oc-sidebar-back {
  -webkit-box-shadow: 0 2px 4px rgba(20, 22, 28, 0.08);
          box-shadow: 0 2px 4px rgba(20, 22, 28, 0.08);
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F3F6FB;
  color: #14161C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

img {
  height: auto;
  max-width: 100%;
}

.content-section {
  padding: 35px 0;
}

/* Typography */
a {
  text-decoration: none;
}

.styled-heading::before {
  background-color: #FF3514;
  content: "";
  display: inline-block;
  font-weight: 500;
  height: 15px;
  margin-right: 10px;
  width: 3px;
}

.styled-heading-large {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  margin-bottom: 35px;
}

.styled-heading-small {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 21px;
  margin-bottom: 20px;
}

.oc-heading-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.oc-heading-group h4 {
  margin-bottom: 8px;
}

.stat-title-small {
  color: #6A6971;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
}

.stat-large {
  display: block;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
}

.sidebar-title {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
}

.ic-content-title {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
}

/* Colours */
.success {
  color: #299F00;
}

.danger {
  color: #CF0303;
}

/* Cards */
.oc-card {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  height: 100%;
  padding: 20px;
}

.oc-card.no-padding {
  padding: 0;
}

.oc-card-small-heading {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 21px;
}

.oc-card-small-link {
  color: #FF3514;
  font-weight: 600;
  text-decoration: underline;
}

.oc-card-small-link:hover {
  color: #FF3514;
}

.oc-card-stat span.stat-title-small {
  color: #6A6971;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
}

.oc-card-stat span.stat-title-small .tooltip-icon {
  color: #FF3514;
  cursor: pointer;
  margin-left: 5px;
}

.oc-card-stat span.stat-large {
  display: block;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 36px;
}

.oc-card-sectors {
  display: -ms-grid;
  display: grid;
  gap: 20px 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.oc-card-sectors .oc-card-sector {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 20px;
}

.oc-card-sectors .oc-card-sector-icon {
  margin-right: 10px;
}

.oc-card-sectors .oc-card-sector-txt h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  margin-bottom: 1px;
}

.oc-card-sectors .oc-card-sector-txt h6 a {
  color: #14161C;
}

.oc-card-sectors .oc-card-sector-txt span {
  color: #6A6971;
}

.oc-card-grid {
  display: -ms-grid;
  display: grid;
  gap: 10px 10px;
}

.oc-card-grid.grid-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.oc-card-grid.grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.oc-card-grid-item {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  text-align: center;
}

@media (max-width: 1023.98px) {
  .oc-card {
    height: auto;
    margin-bottom: 20px;
  }
  .oc-card-sectors {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .oc-card-grid {
    height: auto;
    margin-bottom: 20px;
  }
  .oc-card-grid.grid-sm-1 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.oc-map-card {
  min-height: 300px;
  overflow: hidden;
  position: relative;
}

.oc-map-card .oc-map-small iframe {
  border: 1px solid #6A6971;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.oc-card-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.oc-card-empty p {
  color: #E5E5E5;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 0;
}

.oc-split-card {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.oc-split-card-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.oc-split-card-item:last-of-type {
  border-bottom: none;
}

.oc-split-card-item .split-card-icon {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 46px;
}

.sector-cards {
  display: -ms-grid;
  display: grid;
  gap: 20px 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.sector-cards .sector-card {
  background-color: #fff;
  border: 1px solid #CFCFCF;
}

.sector-cards .sector-card-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #CFCFCF;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-cards .sector-card-top-icon {
  margin-right: 15px;
}

.sector-cards .sector-card-top-info h6 {
  margin-bottom: 3px;
}

.sector-cards .sector-card-top-info h6 a {
  color: #FF3514;
}

.sector-cards .sector-card-top-info h6 a:hover {
  text-decoration: underline;
}

.sector-cards .sector-card-top-info p {
  margin-bottom: 0;
}

.sector-cards .sector-card-bottom {
  padding: 15px 20px;
}

.sector-cards .sector-card-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sector-cards .sector-card-bottom ul li {
  margin-right: 20px;
}

.sector-cards .sector-card-bottom ul li span {
  font-weight: 600;
}

@media (max-width: 1023.98px) {
  .sector-cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .sector-cards .sector-card-bottom ul {
    display: block;
  }
}

.project-cards .project-card {
  background-color: #fff;
  border: 1px solid #CFCFCF;
  margin-bottom: 15px;
}

.project-cards .project-card-main {
  border-bottom: 1px solid #CFCFCF;
  padding: 15px 20px;
}

.project-cards .project-card-main h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  margin-bottom: 1px;
}

.project-cards .project-card-main h5 a {
  color: #FF3514;
}

.project-cards .project-card-main h5 a:hover {
  text-decoration: underline;
}

.project-cards .project-card-main ul {
  color: #6A6971;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.project-cards .project-card-main ul li span {
  font-weight: 500;
}

.project-cards .project-card-main ul li::after {
  content: "·";
  padding: 0 5px;
}

.project-cards .project-card-main ul li:last-child::after {
  display: none;
}

.project-cards .project-card-main p {
  margin-bottom: 0;
}

.project-cards .project-card-bottom {
  padding: 15px 20px;
}

.project-cards .project-card-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-cards .project-card-bottom ul li {
  margin-right: 15px;
}

.project-cards .project-card-bottom ul li span {
  font-weight: 600;
}

.breadcrumbs {
  background-color: #F7F8F3;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 19px;
  padding: 10px 0;
  position: relative;
}

.breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs ul li::after {
  content: "/";
  display: inline-block;
  padding: 0 8px;
}

.breadcrumbs ul li:last-child::after {
  display: none;
}

.breadcrumbs ul li a {
  color: #6A6971;
}

.breadcrumbs ul li a:hover {
  text-decoration: underline;
}

/* Forms */
.form-control, .form-select {
  border-radius: 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
}

.form-control-lg, .form-select-lg {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
}

.form-control:focus, .form-control:active, .form-select:focus, .form-select:active {
  border-color: #14161C;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-select {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-form-label, .form-select-small {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 19px;
}

.form-check-input[type=checkbox] {
  border-radius: 0;
}

.form-check-label {
  font-weight: 400;
}

/* Tables */
div.dataTables_wrapper div.dataTables_info {
  display: none;
}

.data-table {
  background-color: #fff;
}

.data-table th {
  font-weight: 600;
  padding: 15px;
}

.data-table td {
  border-bottom: none !important;
  padding: 15px;
}

.data-table caption {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
}

.data-table-bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 19px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.data-table-bottom span.data-table-caption {
  color: #6A6971;
  font-weight: 400;
}

/* Pagination */
.data-table-nav, .list-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border: 1px solid #CFCFCF;
  color: #14161C;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-left: 15px;
}

.data-table-nav p, .list-nav p {
  margin-bottom: 0;
}

.data-table-nav .pagination, .list-nav .pagination {
  margin-bottom: 0;
  margin-left: 15px;
}

.data-table-nav .pagination .page-link, .list-nav .pagination .page-link {
  border: none;
  color: #14161C;
}

.list-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* Header */
.header-desktop {
  background-color: #fff;
  border-bottom: 1px solid #E5E5E5;
}

@media (min-width: 1024px) {
  .header-mobile {
    display: none;
  }
}

.top-bar {
  border-bottom: 1px solid #E5E5E5;
  padding: 15px 0;
}

.top-bar-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-bar-inner .top-bar-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar-inner .top-bar-left .site-logo {
  margin-right: 30px;
  max-width: 120px;
}

.top-bar-inner .top-bar-left .top-bar-search .form-control {
  border: 1px solid #6A6971;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #14161C;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 19px;
}

.top-bar-inner .top-bar-left .top-bar-search .form-control:hover, .top-bar-inner .top-bar-left .top-bar-search .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.top-bar-inner .top-bar-right .navbar-nav .nav-item.dropdown .avatar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2A93B;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
}

.top-bar-inner .top-bar-right .navbar-nav .nav-item.dropdown .dropdown-menu {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
}

@media (max-width: 1023.98px) {
  .top-bar-inner .top-bar-search {
    display: none;
  }
}

.main-nav {
  padding: 15px 0;
}

.main-nav .navbar-toggler {
  background-color: #fff;
  border: none;
  border-radius: 0;
  color: #14161C;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 22px;
  padding: 12px 0;
  width: 100%;
}

.main-nav .navbar-toggler .svg-inline--fa, .main-nav .navbar-toggler .mobile-menu-icon {
  margin-right: 5px;
}

.main-nav .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.main-nav .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main-nav .navbar-nav .nav-item .nav-link {
  background-color: #fff;
  border: 1px solid #E5E5E5;
  color: #14161C;
  padding: 12px 20px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.main-nav .navbar-nav .nav-item .nav-link .menu-icon, .main-nav .navbar-nav .nav-item .nav-link .svg-inline--fa {
  margin-right: 8px;
}

.main-nav .navbar-nav .nav-item .nav-link:hover {
  background-color: #E5E5E5;
}

.main-nav .navbar-nav .nav-item .nav-link:hover .menu-icon {
  color: #FF3514;
}

.main-nav .navbar-nav .nav-item .nav-link.active {
  background-color: #06163A;
  border-color: #06163A;
  color: #fff;
}

.main-nav .navbar-nav .nav-item .nav-link.active .menu-icon {
  color: #FF3514;
}

@media (max-width: 1023.98px) {
  .main-nav {
    padding: 0;
  }
  .main-nav .navbar-collapse {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 100%;
  }
}

.navbar-brand img {
  max-width: 120px;
}

/* Footer */
footer {
  background-color: #fff;
  color: #6A6971;
  border-top: 1px solid #E5E5E5;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 19px;
  padding: 17px 0;
  position: relative;
}

footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-inner .colophon p {
  margin-bottom: 0;
}

footer .footer-inner .colophon p a {
  color: #6A6971;
  text-decoration: underline;
}

footer .footer-inner .colophon p a .svg-inline--fa {
  margin-left: 5px;
}

footer .footer-inner .footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-inner .footer-links ul li a {
  color: #6A6971;
  display: block;
}

footer .footer-inner .footer-links ul li a::after {
  content: "|";
  padding: 10px;
}

footer .footer-inner .footer-links ul li:last-child a::after {
  display: none;
}

@media (max-width: 1023.98px) {
  footer .footer-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-inner .colophon {
    margin-bottom: 5px;
  }
}

/* Sidebar */
.oc-sidebar-back {
  background-color: #fff;
  bottom: -120px;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: -1;
}

.oc-sidebar {
  background-color: #fff;
  float: left;
  height: 100%;
  overflow: auto;
  position: relative;
  width: 300px;
}

.oc-sidebar-top {
  height: 50px;
}

.oc-sidebar-top .sidebar-nav-tabs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 26px;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.oc-sidebar-top .sidebar-nav-tabs li {
  height: 100%;
  width: 100%;
}

.oc-sidebar-top .sidebar-nav-tabs li .sidebar-nav-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E5E5E5;
  color: #6A6971;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.oc-sidebar-top .sidebar-nav-tabs li .sidebar-nav-link.active {
  background-color: #FF3514;
  color: #fff;
}

.oc-sidebar-main {
  padding: 25px 15px;
}

.accordion-item {
  border-color: #E5E5E5;
}

.accordion-button {
  color: #14161C;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 20px;
  padding: 15px 0;
}

.accordion-button:focus, .accordion-button:active, .accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #14161C;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-button:focus::after, .accordion-button:active::after, .accordion-button:not(.collapsed)::after {
  color: #14161C;
}

.accordion-body {
  padding: 15px 0;
}

.export-options .export-item {
  background-color: #fff;
  border: 1px solid #CFCFCF;
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  width: 100%;
}

.export-options .export-item:hover {
  background-color: #E5E5E5;
}

.export-options .export-item-icon {
  color: #6A6971;
  margin-right: 5px;
}

/* Content */
.data-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
  position: relative;
}

.ic-content {
  height: 100%;
  margin-left: 300px;
}

.ic-content-header {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 30px;
}

.ic-content-header-inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ic-content .ic-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  position: relative;
}

.ic-content .ic-body-content {
  float: left;
  width: 100%;
}
/*# sourceMappingURL=base.css.map */