/* Projects */

.project-header {
    background-color: #fff;
    padding: 20px 0;
    &-inner {
        align-items: center;
        display: flex;
        justify-content: space-between;
        &-left {
            h2 {
                @include convert-to-rem( 16 );
                margin-bottom: 1px;
            }
            ul {
                color: $dark-grey;
                display: flex;
                flex-wrap: wrap;
                @extend %unstyled-list;
                li {
                    span {
                        font-weight: 500;
                    }
                    &::after {
                        content: "·";
                        padding: 0 5px;
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:767.98px) {
    .project-header {
        &-inner {
            display: block;
            &-left {
                margin-bottom: 15px;
                h2 {
                    margin-bottom: 5px;
                }
            }
        }
    }
}

.status-badge {
    background-color: $dark-grey;
    border-radius: 30px;
    @include convert-to-rem( 12, 600 );
    color: #fff;
    padding: 8px 12px;
}

.project-details {
    .nav-tabs {
        border-bottom: 1px solid $light-grey;
        .nav-link {
            background-color: $light-grey;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            color: $dark-grey;
            font-weight: 500;
            padding: 15px 20px;
            &.active {
                background-color: $steel-blue;
                color: #fff;
            }
        }
    }
    .tab-content {
        background-color: #fff;
        .tab-pane {
            .project-info {
                color: $dark-grey;
                padding: 20px;
                &-item {
                    margin-bottom: 20px;
                    h6 {
                        color: $font-colour;
                        @include convert-to-rem( 14, 500 );
                        margin-bottom: 4px;
                    }
                    p {
                        margin-bottom: 0;
                    }
                    ul {
                        margin: 0;
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
            .project-map {
                height: 100%;
                overflow: hidden;
                padding: 20px;
                position: relative;
                iframe {
                    border: 1px solid $dark-grey;
                    height: 100%;
                    left: 0;
                    top: 0;
                    width: 100%;
                }
            }
        }
    }
}