/* Colours */

.success {
    color: $success-green;
}

.bg-success {
    background-color: $success-green !important;
}

.bg-primary {
    background-color: $steel-blue !important;
}

.bg-danger {
    background-color: $danger-red !important;
}

.bg-warning {
    background-color: $bright-orange !important;
}

.danger {
    color: $danger-red;
}