/* Global styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: $lavender;
    color: $font-colour;
    font-family: $main-font;
    @include convert-to-rem( 14 );
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

img {
    height: auto;
    max-width: 100%;
}

.content-section {
    padding: 35px 0;
}